itps/common/*/__pycache__
itps/common/policies/*/__pycache__
inference_itps/common/policies/*/__pycache__
inference_itps/common/*/__pycache__
*/__pycache__
**/__pycache__
***/__pycache__
****/__pycache__
*****/__pycache__
itps/weights/weights_*/
itps/weights/weights_*
inference_itps/weights
inference_itps/weights_*/
inference_itps/weights_*
itps/weights_*.zip
.DS_Store
.vscode
data/maze2d/train/maze2d-large-sparse-v1.hdf5
itps/train_test/*
train_test/*
outputs/*
data/*
inference_itps/plots
maze2d-large-sparse-v1.hdf5
inference_itps/energy_coll_maps/
inference_itps/tune_plots/
inference_itps/tune_plots_*/
run_exp.sh