itps/common/*/__pycache__/
itps/common/policies/*/__pycache__/
itps/weights_*/
itps/weights_*
inference_itps/weights_*/
inference_itps/weights_*
itps/weights_*.zip
.DS_Store
.vscode
data/maze2d/train/maze2d-large-sparse-v1.hdf5
itps/train_test/*
train_test/*
outputs/*
data/*
inference_itps/plots
maze2d-large-sparse-v1.hdf5